:root {
--bs-primary: #dc3545;
--bs-primary-rgb: 220, 53, 69;
}
.bg-primary-subtle {
background-color: rgba(220, 53, 69, 0.1) !important;
}
.text-primary {
color: #dc3545 !important;
}
.btn-primary {
background-color: #dc3545;
border-color: #dc3545;
}
.btn-primary:hover {
background-color: #b02a37;
border-color: #a52834;
}
.btn-outline-primary {
color: #dc3545;
border-color: #dc3545;
}
.btn-outline-primary:hover {
background-color: #dc3545;
border-color: #dc3545;
color: #fff;
}
.page-link {
color: #dc3545;
}
.page-item.active .page-link {
background-color: #dc3545;
border-color: #dc3545;
color: #fff !important;
}